.drawer-title {
  color: var(--primary-color) !important;
}

@media (max-width: 600px) {
  .drawer-title {
    font-size: 24px !important;
  }

  .drawer-description {
    font-size: 14px !important;
  }
}
