:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --success-color: #408140;
}

.btn.btn--dark {
  background-color: var(--dark-color);
  color: #fff;
}

.btn.btn--dark:hover,
.btn.btn--dark:active,
.btn.btn--dark:focus {
  background-color: var(--dark-color);
  border: unset;
  opacity: 0.8;
  color: #fff;
}

.btn.btn--success {
  background-color: var(--success-color);
  color: #fff;
}

.btn.btn--success:hover,
.btn.btn--success:active,
.btn.btn--success:focus {
  background-color: var(--success-color);
  border: unset;
  opacity: 0.8;
  color: #fff;
}

.avatar__image {
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
}
