.post__header-title {
  color: var(--primary-color) !important;
  font-size: 3rem !important;
  font-weight: 400 !important;
}

.post__header-subtitle {
  display: block;
  font-size: 1.5rem !important;
  margin-bottom: 1rem !important;
}

.add-post__title {
  background-color: var(--primary-color);
  color: #fff !important;
  font-size: 18px;

  padding: 8px;
  margin-bottom: 24px;
}

.add-post__form-btn-submit {
  background-color: var(--dark-color);
  color: #fff;
}

.add-post__form-btn-submit:hover,
.add-post__form-btn-submit:active {
  background-color: var(--dark-color);
  border: unset;
  opacity: 0.8;
  color: #fff;
}

/* post item */
.post-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.post-item__avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100% !important;
  padding: 16px;
}

.post-item__avatar-img {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.post-item__title {
  font-size: 16px;
  color: var(--primary-color) !important;
  font-weight: 500;

  margin-top: 8px;
}

.post-item__description {
  margin-bottom: 12px;
}

.post-item__actions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.discussion-number {
  margin-left: 6px;

  border-radius: 40px;
  border: 2px solid #fff;
  background-color: #fff;
  color: var(--primary-color) !important;
}

@media (max-width: 750px) {
  .post-item {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
  }

  .post-item__actions {
    justify-content: center;
  }
}
